* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lexend Giga", sans-serif;
    color: white;
    font-size: 60px;
}

p {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 24px;
    padding: 20px;
}

p2 {
    display: none;
}

img {
    width: auto;
    height: 75vh;
    padding: 20px;
}

.lexend-giga {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.green {
    padding: 30px;
    background-color: #295d3f;
}

.row {
    display: flex;
}

#spacing {
    padding: 20px;
    background-color: #85372f;
}

#flags {
    padding: 20px;
}

#tools {
    padding: 20px;
    color: white;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    img {
        width: auto;
        height: 50vh
    }

    #flags {
        padding: 10px;
    }

    #tools {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        width: auto;
        height: 30vh
    }

    #flags {
        padding: 7px;
    }

    #tools {
        padding: 7px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    p {
        display: none;
    }

    p2 {
        display: block;
        font-size: 15px;
        font-family: "Alumni Sans Pinstripe", sans-serif;
        padding: 10px;
    }

    img {
        object-fit: contain;
        width: 500px;
        padding: 2px;
    }

    #flags {
        padding: 2px;
        width: 100%;
    }

    #tools {
        padding: 2px;
        width: 100%;
    }
}